<ion-view>
  
  <ion-content>

    <!-- Refresher -->
    <ion-refresher
      pulling-text=""
      on-refresh="doRefresh()">
    </ion-refresher>
    
    <!-- Post Options -->
    <!-- <ng-include src="'templates/global/post-options.html'"></ng-include> -->

    <!-- Search Box -->
    <!-- <ng-include src="'templates/global/search-box.html'"></ng-include> -->
    <div class="list padding" ng-click="openModal()">
      <div class="item item-thumbnail-left">
        <img src="{{Ident.avatar}}" alt="">
        <input type="text" placeholder="Say something..." />
      </div>
    </div>
    
    <div class="stream">
      <!-- Status Update -->
      <div ng-repeat="Post in Posts | orderBy: '-pid' as filtered_result track by Post.pid">
        <ng-include ng-If="Post.type === 'status-basic'" src="'templates/post-types/status-basic.html'"></ng-include>
        
        <!-- Status Update w/Photo -->
        <ng-include ng-If="Post.type === 'status-image'" src="'templates/post-types/status-image.html'"></ng-include>
      </div>

    </div>
        
      
  </ion-content>

</ion-view>