<ion-view>
  
  <ion-content class="activityBackground">

    <!-- Manage Family Display -->
    <div class="card list">
	    <div class="item item-icon-left item-icon-right" ng-click="goToHHManage()"> 
	      <i class="icon ion-person-stalker highlight"></i>
	      <h2 class="text highlight">Household Manager</h2>
	      <!-- <i class="icon ion-wrench stableheader"  style="font-size:22px;"></i> -->
	      <ion-spinner icon="ripple" class="icon spinner-balanced" ng-show="HHold.length === 0"></ion-spinner>
	    </div>
	    <!-- <div class="item no-padding">
	      <div ng-repeat="Member in Household" class="item no-padding">
          <div class="item item-icon-left item-text-wrap item-icon-right">
            <i class="icon ion-document-text padding-left stableheader" ></i>
            <h3 class="text padding-left"><b class="text stableheader">{{Member.name}} </b></h3>
            <i class="icon ion-ios-arrow-right stableheader"></i>
          </div>
	      </div>
	      <div class="no-padding" ui-sref="account.plans-household">
	      	<div class="no-padding">
	          <div class="item item-icon-left item-text-wrap item-icon-right">
	            <i class="icon ion-home stableheader padding-left" style="font-size:22px;"></i>
	            <h3 class="text stableheader padding-left">Manage Household</h3>
	            <i class="icon ion-plus highlight" style="font-size:22px;"></i>
	          </div>
	        </div>
	      </div>
	    </div> -->
		</div>

    <!-- Current Plans Display -->
    <div class="card list" ng-hide="HHold.length === 0">
	    <div class="item item-icon-left item-icon-right"> 
	      <i class="icon ion-clipboard highlight"></i>
	      <h2 class="text highlight">Current Plans</h2>
	      <!-- <ion-spinner icon="ripple" class="icon spinner-balanced" ></ion-spinner> -->
	    </div>
	    <div class="item no-padding">
	      <div ng-repeat="Plan in OpenPlans" class="item no-padding" ng-show="Plan.length">
          <div class="item item-icon-left item-text-wrap item-icon-right">
            <i class="icon ion-document-text stableheader padding-left"></i>
            <h3 class="text padding-left"><b class="text stableheader">{{Plan.title}} </b></h3>
            <i class="icon ion-ios-arrow-right stableheader"></i>
          </div>
	      </div>
	      <div class="item no-padding" ui-sref="account.plans-create">
	      	<div class="no-padding">
	          <div class="item item-icon-left item-text-wrap item-icon-right">
	            <i class="icon ion-document stableheader padding-left" style="font-size:22px;"></i>
	            <h3 class="text stableheader padding-left">Start a new Plan</h3>
	            <i class="icon ion-plus highlight" style="font-size:22px;"></i>
	          </div>
	        </div>
	      </div>
	    </div>
		</div>

		<!-- Plan History Display -->
    <div class="card list" ng-hide="HHold.length === 0">
	    <div class="item item-icon-left item-icon-right"> 
	      <i class="icon ion-briefcase highlight"></i>
	      <h2 class="text highlight">Plan History</h2>
	      <!-- <ion-spinner icon="ripple" class="icon spinner-balanced"></ion-spinner> -->
	    </div>
	    <div class="item no-padding">
	      <div ng-repeat="Plan in PastPlans" class="item no-padding" ng-show="Plan.length">
          <div class="item item-icon-left item-text-wrap item-icon-right">
            <i class="icon ion-document-text stableheader padding-left"></i>
            <h3 class="text stableheader padding-left">{{Plan.title}}</h3>
            <i class="icon ion-ios-arrow-right stableheader"></i>
          </div>
	      </div>
	      <div ng-show="PastPlans" class="item text text-center stableheader">No Plan History</div>
	    </div>
		</div>
      
  </ion-content>

</ion-view>