<ion-tabs class="tabs-light tabs-color-active-balanced tabs-icon-top">

  <!-- Activity Stream Tab -->
  <ion-tab title="Activity" icon="ion-chatboxes" href="#/account/stream">
    <ion-nav-view name="account-stream"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Plans" icon="ion-clipboard" href="#/account/plans">
    <ion-nav-view name="account-plans"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Messages" icon="ion-email" href="#/account/messages">
    <ion-nav-view name="account-messages"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calendar" icon="ion-calendar" href="#/account/calendar">
    <ion-nav-view name="account-calendar"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon="ion-person" href="#/account/details">
    <ion-nav-view name="account-details"></ion-nav-view>
  </ion-tab>


</ion-tabs>
