<ion-view>
  
  <ion-content class="activityBackground" >

    <!-- Refresher -->
    <!-- <ion-refresher
      pulling-text=""
      on-refresh="doRefresh()">
    </ion-refresher> -->
    <button class="button button-clear text logoutButton" ng-click="logout()">Logout</button>

    <!-- Account Information Display -->
    <div class="row marginBottom40">
    	
    	
    </div>
    <div class="card list">
    	<div class="item item-header">
    		<p class="text highlight"><b>Account Information</b></p>
    	</div>
    	<div class="row row-center">
    		<div class="col col-75">
                <div class="col">
                    <div class="accountThumbnail" ng-if="Ident.avatar" style="background-image:url({{Ident.avatar}});"></div>
                    <img class="accountThumbnail" ng-if="!Ident.avatar" src="./img/profile_headshot.jpg">
                </div>
	    		<p class="text stableheader">{{Ident.fname}} {{Ident.lname}}</p>
	    		<p class="text stableheader">{{Ident.email}}</p>
				<p class="text stableheader">Manage password</p>
			</div>
			<div class="col col-25">
				<button class="button button-clear ion-wrench stableheader editButton"></button>
			</div>
    	</div>
    </div>
      
  </ion-content>

</ion-view>