<ion-view>
  
  <ion-content class="activityBackground">

    <!-- Refresher -->
    <ion-refresher
      pulling-text=""
      on-refresh="doRefresh()">
    </ion-refresher>
    
    <div class="stream">
      <div class="card list">
        <div class="item item-icon-left item-icon-right"> 
          <i class="icon ion-chatbox-working stableheader"></i>
          <h2 class="text stableheader">Helpful Messages: </h2>
          <i class="icon text highlight text-right">{{Posts.length}}</i>
        </div>
      </div>
      <div ng-repeat="Post in Posts | orderBy: 'pid' as filtered_result track by Post.pid">
        <div class="card list">
          <div class="item item-avatar-left item-text-wrap">
            <img src="../img/OneYumPie.png">
            <h2 class="text"><b class="text highlight">{{Post.title}} </b>by <b class="text highlight">{{Post.source}}</b></h2>
            <h4 class="text">{{Post.timestamp | date}}</h4>
          </div>
          <div class="item item-inset-text item-text-wrap">
            <p class="text">{{Post.description}}</p>
          </div>
          <div class="item item-icon-right">
            <p class="text">{{Post.action}}</p>
            <i class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
        <!-- <ng-include ng-If="Post.type === 'status-basic'" src="'templates/post-types/status-basic.html'"></ng-include>
        
        Status Update w/Photo
        <ng-include ng-If="Post.type === 'status-image'" src="'templates/post-types/status-image.html'"></ng-include> -->
      </div>

      <div class="card list">
        <div class="item item-icon-left item-icon-right"> 
          <i class="icon ion-chatbox-working stableheader"></i>
          <h2 class="text stableheader">Community Activity: </h2>
          <i class="icon text highlight text-right">{{Posts.length}}</i>
        </div>
      </div>
      <div ng-repeat="Post in Posts | orderBy: 'pid' as filtered_result track by Post.pid">
        <div class="card list">
          <div class="item item-avatar-left item-text-wrap">
            <img src="../img/OneYumPie.png">
            <h2 class="text"><b class="text highlight">{{Post.title}} </b>by <b class="text highlight">{{Post.source}}</b></h2>
            <h4 class="text">{{Post.timestamp | date}}</h4>
          </div>
          <div class="item item-inset-text item-text-wrap">
            <p class="text">{{Post.description}}</p>
          </div>
          <div class="item item-icon-right">
            <p class="text">{{Post.action}}</p>
            <i class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
    </div>
        
      
  </ion-content>

</ion-view>