<ion-view>
	<ion-nav-title class="text highlight logo">
		<span class="text hightlight">Careers</span>
	</ion-nav-title>
  <ion-content class="fabricBackground">
    <div class="primaryBannerImageCareers"></div>

    <h1 class="text highlight text-center BannerTextCtn"><b>Locally Driven</b></h1>

    <h4 class="italic-text text text-center stableheader BannerTextCtn">Local talent drives OneYum's success.</h4>

    <p class="text stableheader text-center BannerTextCtn">Come be a part of our movement to get balanced and healthy meals to everyone. We are always looking for more talent.</p>

    <div class="card list">
    	<h3 class="item text highlight"><b>Lowell</b></h3>
    	<div class="card list">
    		<p class="item text highlight">Location Support</p>
    		<div class="item item-icon-right">
	    		<p class="text stableheader">Procurement and Delivery Specialist</p>
	    		<i class="icon ion-chevron-right stableheader" style="font-size:20px;"></i>
    		</div>
    		<div class="item item-icon-right">
    			<p class="text stableheader">Culinary Prep and Chef</p>
    			<i class="icon ion-chevron-right stableheader" style="font-size:20px;"></i>
			</div>
    	</div>
    	<div class="card list">
    		<p class="item text highlight">OneYum Menu Offerings</p>
    		<div class="item item-icon-right">
	    		<p class="text stableheader">Create a meal and get paid.</p>
	    		<i class="icon ion-chevron-right stableheader" style="font-size:20px;"></i>
    		</div>
    	</div>
	</div>
	<div class="card list">
    	<h3 class="item text highlight"><b>Corporate</b></h3>
    	<div class="card list">
    		<p class="item text highlight">Executive</p>
    		<div class="item item-icon-right">
	    		<p class="text stableheader">CMO</p>
	    		<i class="icon ion-chevron-right stableheader" style="font-size:20px;"></i>
    		</div>
    		<div class="item item-icon-right">
    			<p class="text stableheader">CTO</p>
    			<i class="icon ion-chevron-right stableheader" style="font-size:20px;"></i>
			</div>
			<div class="item item-icon-right">
				<p class="text stableheader">CIO</p>
				<i class="icon ion-chevron-right stableheader" style="font-size:20px;"></i>
			</div>
			<div class="item item-icon-right">
				<p class="text stableheader">CFO</p>
				<i class="icon ion-chevron-right stableheader" style="font-size:20px;"></i>
			</div>
    	</div>
    	<div class="card list">
    		<p class="item text highlight">Board of Directors</p>
    		<div class="item item-icon-right">
	    		<p class="text stableheader">Chair</p>
	    		<i class="icon ion-chevron-right stableheader" style="font-size:20px;"></i>
    		</div>
    		<div class="item item-icon-right">
    			<p class="text stableheader">Vice Chair</p>
    			<i class="icon ion-chevron-right stableheader" style="font-size:20px;"></i>
			</div>
			<div class="item item-icon-right">
				<p class="text stableheader">Secretary</p>
				<i class="icon ion-chevron-right stableheader" style="font-size:20px;"></i>
			</div>
			<div class="item item-icon-right">
				<p class="text stableheader">Treasurer</p>
				<i class="icon ion-chevron-right stableheader" style="font-size:20px;"></i>
			</div>
    	</div>
    	
    </div>
  </ion-content>
</ion-view>
