<ion-view ng-controller="ContactCtrl">
	<ion-nav-title class="text highlight logo">
		<img class="padding-top" src="../img/OneYumPie.png" style="height:1.2em;background-size:contain;margin-right:-5px;">
		neYum
	</ion-nav-title>
  <ion-content>
  	<div>
  		<img src="../img/hands-together-tree.jpg" width="100%">
  		<h3 class="text stableheader center-text">Everyone is important to OneYum.</h3>
  	</div>
  	
  	<ion-list>
	  	<div class="item">How would you like to contact us?</div>
  		<ion-item  ng-click="engageEmail()">Email</ion-item>
  		<ion-item ng-show="openEmail" class="no-padding greyBackground">
  			<ion-list class="list">
  				<ion-item class="item item-avatar item-icon-right" href="#/welcome/contactform/BobbyFisher">
  					<img src="../img/BobbyFisherpic.jpg">
  					<h2 class="text stableheader">Bobby Fisher</h2>
  					<h3 class="text stableheader">Founder, Director</h3>
  					<i class="icon ion-ios-email highlight"></i>
  				</ion-item>
  				<ion-item class="item item-avatar item-icon-right" href="#/welcome/contactform/JosephRoyal">
  					<img src="../img/JosephRoyalpic.png">
  					<h2 class="text stableheader">Joseph Royal</h2>
  					<h3 class="text stableheader">Founder, Operations</h3>
  					<i class="icon ion-ios-email highlight"></i>
  				</ion-item>
  			</ion-list>
  		</ion-item>
  		<ion-item ng-click="engagePhone()" >Phone</ion-item>
  		<ion-item ng-show="openPhone" class="no-padding greyBackground">
  			<ion-list class="list">
  				<ion-item class="item item-avatar item-icon-right" href="#/welcome/contactcall/BobbyFisher">
  					<img src="../img/BobbyFisherpic.jpg">
  					<h2 class="text stableheader">Bobby Fisher</h2>
  					<h3 class="text stableheader">Founder, Director</h3>
  					<i class="icon ion-ios-telephone highlight"></i>
  				</ion-item>
  				<ion-item class="item item-avatar item-icon-right" href="#/welcome/contactcall/JosephRoyal">
  					<img src="../img/JosephRoyalpic.png">
  					<h2 class="text stableheader">Joseph Royal</h2>
  					<h3 class="text stableheader">Founder, Operations</h3>
  					<i class="icon ion-ios-telephone highlight"></i>
  				</ion-item>
  			</ion-list>
  		</ion-item>
  		<ion-item ng-click="engageMail()" >Mail</ion-item>
  		<ion-item ng-show="openMail" class="no-padding greyBackground"></ion-item>
  	</ion-list>
  </ion-content>
</ion-view>