<ion-view>
	<ion-nav-title class="text highlight logo">
		<span class="text hightlight">Contact</span>
	</ion-nav-title>
  <ion-content class="fabricBackground">
  	<div class="primaryBannerImageContact"></div>
    <div ng-class="{desktop:desktop()}">
    	<div class="padding">
        <div class="card list">
          <div class="item stableheader">How would you like to contact us?</div>
          <ion-item  ng-click="engageEmail()"><span ng-show="!contactsent" class="stableheader">Email</span><span ng-show="contactsent" class="highlight">Email sent successfully!</span></ion-item>
          <ion-item ng-show="openEmail" class="no-padding greyBackground">
            <ion-list class="list">
              <ion-item class="item item-avatar item-icon-right" ng-click="contactform('BobbyFisher')">
                <img src="../img/BobbyFisherpic.jpg">
                <h2 class="text stableheader">Bobby Fisher</h2>
                <h3 class="text stableheader">Co-Founder, CEO</h3>
                <i class="icon ion-ios-email highlight"></i>
              </ion-item>
              <ion-item class="item item-avatar item-icon-right" ng-click="contactform('JosephRoyal')">
                <img src="../img/JosephRoyalpic.png">
                <h2 class="text stableheader">Joseph Royal</h2>
                <h3 class="text stableheader">Co-Founder, CBDO</h3>
                <i class="icon ion-ios-email highlight"></i>
              </ion-item>
            </ion-list>
          </ion-item>
          <ion-item ng-click="engagePhone()" class="stableheader" >Phone</ion-item>
          <ion-item ng-show="openPhone" class="no-padding greyBackground">
            <ion-list class="list">
              <ion-item class="item item-avatar item-icon-right" href="#/welcome/contactcall/BobbyFisher">
                <img src="../img/BobbyFisherpic.jpg">
                <h2 class="text stableheader">Bobby Fisher</h2>
                <h3 class="text stableheader">Co-Founder, CEO</h3>
                <i class="icon ion-ios-telephone highlight"></i>
              </ion-item>
              <ion-item class="item item-avatar item-icon-right" href="#/welcome/contactcall/JosephRoyal">
                <img src="../img/JosephRoyalpic.png">
                <h2 class="text stableheader">Joseph Royal</h2>
                <h3 class="text stableheader">Co-Founder, CBDO</h3>
                <i class="icon ion-ios-telephone highlight"></i>
              </ion-item>
            </ion-list>
          </ion-item>
          <ion-item ng-click="engageMail()" class="stableheader">Mail</ion-item>
          <ion-item ng-show="openMail" class="no-padding greyBackground"></ion-item>
        </div>
      </div>
    </div>
    <ng-include src="'templates/modules/footer.html'"></ng-include>
  </ion-content>
</ion-view>