<ion-modal-view view-title="Contact Form">
	<ion-header-bar align-title="center">
	    <h1 class="title text highlight text-center">Contact Form</h1>
	    <div class="buttons">
	      <button class="text button button-clear" ng-click="closeContact()">Close</button>
	    </div>
	</ion-header-bar>
	<ion-content>
		<form name="message" class="list" ng-submit="submit(contact)">
			<div class="item item-header">Email to: <strong class="highlight">{{Target.name}}</strong></div>
			<label class="item item-input">
				<input type="text" name="messageSubject" placeholder="Message Subject" ng-model="contact.subject">
			</label>
			<label class="item item-input">
				<textarea name="messageBody" placeholder="Message Content" rows="4" ng-model="contact.message"></textarea >
			</label>
			<label class="item item-input">
				<input type="email" name="messageSender" placeholder="Your Email" ng-model="contact.email">
			</label>
			<button class="item text button btn button-block stableheader" type="submit"><strong>Send Message</strong></button>
		</form>
	</ion-content>
</ion-modal-view>