<ion-view text-align="center" class="steadybackground">
	<ion-nav-title class="text highlight logo">
		<img class="padding-top" src="../img/OneYumPie.png" style="height:1.2em;background-size:contain;margin-right:-5px;" ng-if="!desktop()">
		<span>neYum<span>
		
	</ion-nav-title>
  <ion-content class="steadybackground" ng-controller="AppCtrl">
	
  	<ng-include src="'templates/modules/homeBannerImage1.html'"></ng-include>

  	<div class="separator" ng-hide="!setClass()"></div>

  	<ng-include src="'templates/modules/homeSection1.html'"></ng-include>

	<div class="separator2" ng-hide="!setClass()"></div>


	<ng-include src="'templates/modules/homeSection2.html'"></ng-include>

  	<div class="separator3" ng-hide="!setClass()"></div>

  	<ng-include src="'templates/modules/homeSection3.html'"></ng-include>
  	
	<div class="separator4" ng-hide="!setClass()"></div>

	<ng-include src="'templates/modules/homeSection4.html'"></ng-include>

  </ion-content>
</ion-view>
