
<ion-view text-align="center" class="steadybackground">
	<ion-nav-title class="text highlight logo">
		OneYum
	</ion-nav-title>
  <ion-content class="steadybackground">
	  	
  	<div class='headBannerImageCtn'>
  		<ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" slide-interval="4000" does-continue="true" class="headBannerImageCtn">
			  <ion-slide>
			    <div class="img1BannerSlider"></div>
			    <div class="bannerTextContainerR padding">
		  			<h1 class="bannerText text focus text-right">Locally<br>Produced</h1>
			  		<h4 class="bannerText text text-right">By Farms and Grocers</h4>
		  		</div>
			  </ion-slide>
			  <ion-slide>
			    <div class="img2BannerSlider"></div>
			    <div class="bannerTextContainerL padding">
		  			<h1 class="bannerText text focus text-left">Locally<br>Prepared</h1>
			  		<h4 class="bannerText text text-left">To Grow Local Talent</h4>
		  		</div>
			  </ion-slide>
			  <ion-slide>
			    <div class="img3BannerSlider"></div>
			    <div class="bannerTextContainerR_2 padding">
		  			<h1 class="bannerText text focus text-right">Locally<br>Delivered</h1>
			  		<h4 class="bannerText text text-right">To Minimize Footprint</h4>
		  		</div>
			  </ion-slide>
			  <ion-slide>
			    <div class="img4BannerSlider"></div>
			    <div class="bannerTextContainerL_2 padding">
		  			<h1 class="bannerText text focus text-left">Locally<br>Focused</h1>
			  		<h4 class="bannerText text text-left">To Drive Communities</h4>
		  		</div>
			  </ion-slide>
			</ion-slide-box>
		  		
  	</div>

  	<div>
  		<h3 class="text sectionHeader stableheader padding"><strong>SIMPLE</strong></h3>
  		<div class="stepRow row">
	  		<div class="col col-50">
	  			<div class="stepIcon1">
	  				<i class="icon ion-man registerIcons1"></i>
	  				<i class="icon ion-woman registerIcons1"></i>
	  				<i class="icon ion-man registerIconsSmall1"></i>
	  				<i class="icon ion-woman registerIconsSmall1"></i>
	  			</div>
	  		</div>
	  		<div class="col col-50">
	  			<h4 class="text stepDesc">Register</h4>
  			</div>
  		</div>

  		<div class="stepRow row">
  			<div class="col col-50">
	  			<h4 class="text stepDesc">Select Ingredients</h4>
  			</div>
  			<div class="col col-50">
	  			<div class="stepIcon2">
	  				<i class="icon ion-bag registerIcons2"></i>
	  			</div>
  			</div>
  		</div>

  		<div class="stepRow row">
  			<div class="col col-50">
  				<div class="stepIcon3">
  					<i class="icon ion-clipboard registerIcons2"></i>
  				</div>
  			</div>
  			<div class="col col-50">
	  			<h4 class="text stepDesc">Select Recipes</h4>
  			</div>
  		</div>

  		<div class="stepRow row">
  			<div class="col col-50">
  				<h4 class="text stepDesc">Cooked or Prepared</h4>
  			</div>
  			<div class="col col-50">
  				<div class="stepIcon4">
  					<i class="icon ion-bonfire registerIcons2"></i>
  				</div>
  			</div>
  		</div>

  		<div class="stepRow row">
	  		<div class="col col-50">
	  			<div class="stepIcon2">
	  				<i class="icon ion-happy-outline registerIcons2"></i>
	  			</div>
  			</div>
  			<div class="col col-50">
  				<h4 class="text stepDesc">Enjoy</h4>
  			</div>
  		</div>
  		<h3 class="text sectionHeader stableheader padding"><strong>Nourishing</strong></h3>
  		<div class="card">
	  		<ion-list class="list">
	  			<div class="item item-icon-left">
	  				<i class="icon ion-arrow-graph-up-right"></i>
	  				<h2 class="text stableheader center-text"><b>Increase Your internal Potential</b></h4>
	  			</div>
	  			<div class="item item-image">
	  				<h3 class="nourishText nT1 text">Properly portioned, </h3>
	  				<h3 class="nourishText nT2 text">balanced meals </h3>
	  				<h3 class="nourishText nT3 text">are great for your body.</h3>
	  				<div class="pieChart">
		  				<svg class="svg1" viewBox="0 0 48 48">
							  <circle class="pie1" r="24" cx="24" cy="24" />
							</svg>
							<svg class="svg2" viewBox="0 0 48 48">
							  <circle class="pie2" r="24" cx="24" cy="24" />
							</svg>
							<svg class="svg3" viewBox="0 0 48 48">
							  <circle class="pie3" r="24" cx="24" cy="24" />
							</svg>
							<svg class="svg4" viewBox="0 0 48 48">
							  <circle class="pie4" r="24" cx="24" cy="24" />
							</svg>
						</div>
	  			</div>
	  			<ion-item class="item item-icon-right" href="#">
	  				<p>Read more</p>
	  				<i class="icon ion-chevron-right"></i>
	  			</ion-item>
	  		</ion-list>
  		</div>
  		<h3 class="text sectionHeader stableheader padding"><strong>Sustainable</strong></h3>
  		<h3 class="text sectionHeader stableheader padding"><strong>Committed</strong></h3>
  	</div>
  </ion-content>
</ion-view>
