
<ion-view text-align="center" class="steadybackground">
	<ion-nav-title class="text highlight logo">
		OneYum
	</ion-nav-title>
  <ion-content class="steadybackground">
  	<div class="headBannerImage">
  		<div class="bannerTextContainer padding">
  			<h1 class="bannerText text focus center-text">Helping <br> the Planet</h1>
	  		<h4 class="bannerText text center-text">One Meal At A Time</h4>
  		</div>
  	</div>

  	<div>
  		<h3 class="text sectionHeader stableheader padding"><strong class="highlight">OneYum</strong> is SIMPLE</h3>
  		<div class="stepRow row">
  			<div class="stepIcon"></div>
  			<h4 class="text stepDesc">Register</h4>
  		</div>

  		<div class="stepRow row">
  			
  			<h4 class="text stepDesc">Select Ingredients</h4>
  			<div class="stepIcon"></div>
  		</div>

  		<div class="stepRow row">
  			<div class="stepIcon"></div>
  			<h4 class="text stepDesc">Select Recipes</h4>
  		</div>

  		<div class="stepRow row">
  			
  			<h4 class="text stepDesc">Cooked or Prepared</h4>
  			<div class="stepIcon"></div>
  		</div>

  		<div class="stepRow row">
  			<div class="stepIcon"></div>
  			<h4 class="text stepDesc">Enjoy</h4>
  		</div>
  		<h3 class="text sectionHeader stableheader padding"><strong class="highlight">OneYum</strong> is SUSTAINABLE</h3>
  	</div>
  </ion-content>
</ion-view>
