<ion-view>
	<ion-nav-title class="text highlight logo">
		<!-- <img class="padding-top" src="../img/OneYumPie.png" style="height:1.2em;background-size:contain;margin-right:-5px;" ng-click="goHome()">
		neYum -->
		<span class="text highlight">Meals</span>
	</ion-nav-title>
  <ion-content class="fabricBackground">
  	<div class="primaryBannerImageMeals"></div>
	<div ng-if="mobile()">
		<h1 class="text text-center highlight BannerTextCtn"><strong>Smart and Flexible</strong></h1>
		
		<h4 class="italic-text text stableheader BannerTextCtn text-center">Design your meals based on scientific or dietary guidelines.</h4>
		
		<p class="text stableheader BannerTextCtn text-center">Choose your own ingredients or select from OneYum’s Featured Menu options.</p>

		<div class="card list no-padding tanBackground">
			<div class="item">
				<h1 class="text text-center highlight"><b>The Breakdown</b></h1>
				<h3 class="italic-text text stableheader text-center">A balanced foundation for every diet.</h3>
			</div>
			<div class="card list">
				<h3 class="item highlight text"><b>Traditional Meals</b></h3>
				<div class="item row no-padding" style="height:199px;" >
					<!-- <div class="pieCtn">
						<canvas id="pieChart" class="chart chart-pie" data="traditional.data" labels="traditional.labels" options="options" colours="traditional.colors" legend="false" series="series" chart-click="onClick()"></canvas>
					</div>
					
					<div class="pieTable right stableheader">
						<div class="row" style="border-left:1px solid #d6d6d6;">
							<h4 class="text-center text highlight col"><b>Contents</b></h4>
							<h4 class="text-center text highlight col"><b>Ounces</b></h4>
						</div>
						<div ng-repeat="item in traditional.data track by $index">
							<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
								<h5 class="text-center stableheader text col">{{traditional.labels[$index]}}</h5>
								<h5 class="text-center stableheader text col">{{item}}</h5>
							</div>
						</div>
					</div> -->
				</div>
				<div class="item item-icon-right" ng-click="">
					<p class="text stableheader">View Traditional Meal Options</p>
					<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
				</div>
			</div>
			<div class="card list">
				<h3 class="item highlight text">Vegetarian Meals</h3>
				<div class="item row no-padding" style="height:199px;">
					<!-- <div class="pieCtn">
						<canvas id="pieChart" class="chart chart-pie" data="vegetarian.data" labels="vegetarian.labels" options="options" colours="vegetarian.colours" legend="false" series="series" chart-click="onClick()"></canvas>
					</div>
					<div class="pieTable right stableheader">
						<div class="row" style="border-left:1px solid #d6d6d6;">
							<h4 class="text-center text highlight col"><b>Contents</b></h4>
							<h4 class="text-center text highlight col"><b>Ounces</b></h4>
						</div>
						<div ng-repeat="item in vegetarian.data track by $index">
							<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
								<h5 class="text-center stableheader text col">{{vegetarian.labels[$index]}}</h5>
								<h5 class="text-center stableheader text col">{{item}}</h5>
							</div>
						</div>
					</div> -->
				</div>
				<div class="item item-icon-right" ng-click="">
					<p class="text stableheader">Learn more...</p>
					<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
				</div>
			</div>
			<div class="card list">
				<h3 class="item highlight text">Paleo Meals</h3>
				<div class="item row no-padding" style="height:199px;">
					<!-- <div class="pieCtn">
						<canvas id="pieChart" class="chart chart-pie" data="paleo.data" labels="paleo.labels" options="options" colours="paleo.colours" legend="false" series="series" chart-click="onClick()"></canvas>
					</div>
					<div class="pieTable right stableheader">
						<div class="row" style="border-left:1px solid #d6d6d6;">
							<h4 class="text-center text highlight col"><b>Contents</b></h4>
							<h4 class="text-center text highlight col"><b>Ounces</b></h4>
						</div>
						<div ng-repeat="item in paleo.data track by $index">
							<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
								<h5 class="text-center stableheader text col">{{paleo.labels[$index]}}</h5>
								<h5 class="text-center stableheader text col">{{item}}</h5>
							</div>
						</div>
					</div> -->
				</div>
				<div class="item item-icon-right" ng-click="">
					<p class="text stableheader">Learn more...</p>
					<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
				</div>
			</div>
			<div class="card list">
				<h3 class="item highlight text">Vegan Meals</h3>
				<div class="item row no-padding" style="height:199px;">
					<!-- <div class="pieCtn">
						<canvas id="pieChart" class="chart chart-pie" data="vegan.data" labels="vegan.labels" options="options" colours="vegan.colours" legend="false" series="series" chart-click="onClick()"></canvas>
					</div>
					<div class="pieTable right stableheader">
						<div class="row" style="border-left:1px solid #d6d6d6;">
							<h4 class="text-center text highlight col"><b>Contents</b></h4>
							<h4 class="text-center text highlight col"><b>Ounces</b></h4>
						</div>
						<div ng-repeat="item in vegan.data track by $index">
							<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
								<h5 class="text-center stableheader text col">{{vegan.labels[$index]}}</h5>
								<h5 class="text-center stableheader text col">{{item}}</h5>
							</div>
						</div>
					</div> -->
				</div>
				<div class="item item-icon-right" ng-click="">
					<p class="text stableheader">Learn more...</p>
					<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
				</div>
			</div>
		</div>
    </div>


    <div ng-if="tablet()">
		<h1 class="text text-center highlight BannerTextCtn"><strong>Smart and Flexible</strong></h1>
		
		<h4 class="italic-text text stableheader BannerTextCtn text-center">Design your meals based on scientific or dietary guidelines.</h4>
		
		<p class="text stableheader BannerTextCtn text-center">Choose your own ingredients or select from OneYum’s Featured Menu options.</p>

		<div class="card list no-padding tanBackground" ng-class="{desktop:tabletHori()}">
			<div class="item">
				<h1 class="text text-center highlight"><b>The Breakdown</b></h1>
				<h3 class="italic-text text stableheader text-center">A balanced foundation for every diet.</h3>
			</div>
			<div ng-class="{row:tabletHori()}">
				<div class="card list" ng-class="{col:tabletHori()}">
					<h3 class="item highlight text" ng-class="{'text-center':tabletHori()}"><b>Traditional Meals</b></h3>
					<div class="item row no-padding" style="height:199px;" >
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="traditional.data" labels="traditional.labels" options="options" colours="traditional.colors" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in traditional.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{traditional.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">Learn more about traditional meals</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
				<div class="card list" ng-class="{col:tabletHori()}">
					<h3 class="item highlight text" ng-class="{'text-center':tabletHori()}"><b>Vegetarian Meals</b></h3>
					<div class="item row no-padding" style="height:199px;">
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="vegetarian.data" labels="vegetarian.labels" options="options" colours="vegetarian.colours" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in vegetarian.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{vegetarian.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">Learn more...</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
			</div>
			<div ng-class="{row:tabletHori()}">
				<div class="card list" ng-class="{col:tabletHori()}">
					<h3 class="item highlight text"  ng-class="{'text-center':tabletHori()}"><b>Paleo Meals</b></h3>
					<div class="item row no-padding" style="height:199px;">
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="paleo.data" labels="paleo.labels" options="options" colours="paleo.colours" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in paleo.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{paleo.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">Learn more...</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
				<div class="card list" ng-class="{col:tabletHori()}">
					<h3 class="item highlight text" ng-class="{'text-center':tabletHori()}"><b>Vegan Meals</b></h3>
					<div class="item row no-padding" style="height:199px;">
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="vegan.data" labels="vegan.labels" options="options" colours="vegan.colours" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in vegan.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{vegan.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">Learn more...</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
			</div>
		</div>
    </div>

    <div ng-if="desktop()">
		<h1 class="text text-center highlight BannerTextCtn"><strong>Smart and Flexible</strong></h1>
		
		<h4 class="italic-text text stableheader BannerTextCtn text-center">Design your meals based on scientific or dietary guidelines.</h4>
		
		<p class="text stableheader BannerTextCtn text-center">Choose your own ingredients or select from OneYum’s Featured Menu options.</p>

		<div class="card list no-padding tanBackground" ng-class="{desktop:desktop()}">
			<div class="item">
				<h1 class="text text-center highlight"><b>The Breakdown</b></h1>
				<h3 class="italic-text text stableheader text-center">A balanced foundation for every diet.</h3>
			</div>
			<div class="row">
				<div class="card list no-padding col">
					<h3 class="item highlight text text-center"><b>Traditional Meals</b></h3>
					<div class="item item-text-wrap" style="height:199px;">
						<div style="margin-top:auto !important; margin-bottom:auto !important;">
							<p class="text stableheader ">Traditional meals contain and follow the dietary guidelines established by the U.S.D.A and the Center for Nutrition Policy and Promotion. </p><br/>
							<p class="text stableheader ">These meals contain a selection of meat, veggie, fruit, grain, and dairy.</p>
						</div>
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="traditional.data" labels="traditional.labels" options="options" colours="traditional.colors" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in traditional.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{traditional.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">Learn more about traditional meals</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
				<div class="card no-padding list col">
					<h3 class="item highlight text text-center"><b>Feature Menu Traditional Meals</b></h3>
					<div class="item no-padding" style="height:199px;margin-bottom: -3px;" >
						<ion-slide-box 
							deligate-handle="login-register-slider" 
							does-continue="false"
							auto-play="false"
							show-pager="true"
							class="backgroundSlider"
						>
							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">You can even make you own.</h5>
									</div>
								</div>
							</ion-slide>
					    </ion-slide-box>
								
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="traditional.data" labels="traditional.labels" options="options" colours="traditional.colors" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in traditional.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{traditional.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">See all of the traditional Meals</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card list col">
					<h3 class="item highlight text text-center"><b>Vegetarian Meals</b></h3>
					<div class="item item-text-wrap" style="height:199px;">
						<p class="text stableheader ">Vegetarian meals follow dietary specifications for vegetarian diets.</p>
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="vegetarian.data" labels="vegetarian.labels" options="options" colours="vegetarian.colours" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in vegetarian.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{vegetarian.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">Learn more...</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
				<div class="card no-padding list col">
					<h3 class="item highlight text text-center"><b>Feature Menu Traditional Meals</b></h3>
					<div class="item no-padding" style="height:199px;margin-bottom: -3px;" >
						<ion-slide-box 
							deligate-handle="login-register-slider" 
							does-continue="false"
							auto-play="false"
							show-pager="true"
							class="backgroundSlider"
						>
							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">You can even make you own.</h5>
									</div>
								</div>
							</ion-slide>
					    </ion-slide-box>
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="traditional.data" labels="traditional.labels" options="options" colours="traditional.colors" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in traditional.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{traditional.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">See all of the traditional Meals</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card list col">
					<h3 class="item highlight text"  ng-class="{'text-center':tabletHori()}"><b>Paleo Meals</b></h3>
					<div class="item item-text-wrap" style="height:199px;">
						<p class="text stableheader ">Paleo meals follow dietary specifications for paleo diets.</p>
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="paleo.data" labels="paleo.labels" options="options" colours="paleo.colours" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in paleo.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{paleo.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">Learn more...</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
				<div class="card no-padding list col">
					<h3 class="item highlight text text-center"><b>Feature Menu Traditional Meals</b></h3>
					<div class="item no-padding" style="height:199px;margin-bottom: -3px;" >
						<ion-slide-box 
							deligate-handle="login-register-slider" 
							does-continue="false"
							auto-play="false"
							show-pager="true"
							class="backgroundSlider"
						>
							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">You can even make you own.</h5>
									</div>
								</div>
							</ion-slide>
					    </ion-slide-box>
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="traditional.data" labels="traditional.labels" options="options" colours="traditional.colors" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in traditional.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{traditional.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">See all of the traditional Meals</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card list col">
					<h3 class="item highlight text text-center"><b>Vegan Meals</b></h3>
					<div class="item item-text-wrap" style="height:199px;">
						<p class="text stableheader ">Vegan meals follow dietary specifications for vegan diets.</p>
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="vegan.data" labels="vegan.labels" options="options" colours="vegan.colours" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in vegan.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{vegan.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">Learn more...</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
				<div class="card no-padding list col">
					<h3 class="item highlight text text-center"><b>Feature Menu Traditional Meals</b></h3>
					<div class="item no-padding" style="height:199px; margin-bottom: -3px;" >
						<ion-slide-box 
							deligate-handle="login-register-slider" 
							does-continue="false"
							auto-play="false"
							show-pager="true"
							class="backgroundSlider"
						>
							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">Chicken, green beans and white rice make up the centerpiece of this meal and includes grapes and Vermont Cheddar for dessert.</h5>
									</div>
								</div>
							</ion-slide>

							<ion-slide>
								<div class="card list no-padding">
									<div class="item no-padding">
										<div class="" style="background-image:url('../img/chicken-rice-green-2.jpg'); height:100px; width:100%; background-position:center;"></div>
										<!-- <img src="./img/chicken-rice-green-2.jpg" height="100px" alt="meal image"> -->
									</div>
									<div class="item item-text-wrap">
										<h5 class="text stableheader">You can even make you own.</h5>
									</div>
								</div>
							</ion-slide>
					    </ion-slide-box>
						<!-- <div class="pieCtn">
							<canvas id="pieChart" class="chart chart-pie" data="traditional.data" labels="traditional.labels" options="options" colours="traditional.colors" legend="false" series="series" chart-click="onClick()"></canvas>
						</div>
						
						<div class="pieTable right stableheader">
							<div class="row" style="border-left:1px solid #d6d6d6;">
								<h4 class="text-center text highlight col"><b>Contents</b></h4>
								<h4 class="text-center text highlight col"><b>Ounces</b></h4>
							</div>
							<div ng-repeat="item in traditional.data track by $index">
								<div class="row" style="border-top:1px solid #d6d6d6; border-left:1px solid #d6d6d6;">
									<h5 class="text-center stableheader text col">{{traditional.labels[$index]}}</h5>
									<h5 class="text-center stableheader text col">{{item}}</h5>
								</div>
							</div>
						</div> -->
					</div>
					<div class="item item-icon-right" ng-click="">
						<p class="text stableheader">See all of the traditional Meals</p>
						<i class="icon ion-chevron-right stableheader" style="font-size:22px"></i>
					</div>
				</div>
			</div>
		</div>
    </div>
  </ion-content>
</ion-view>
