<ion-view>
	<ion-nav-title class="text highlight logo">
		<!-- <img class="padding-top" src="../img/OneYumPie.png" style="height:1.2em;background-size:contain;margin-right:-5px;" ng-click="goHome()">
		neYum -->
		<span class="text highlight">Meals</span>
	</ion-nav-title>
  <ion-content>
  	<div class="primaryBannerImageMeals"></div>
	
	<h1 class="text text-center highlight BannerTextCtn"><strong>Smart and Flexible</strong></h1>
	
	<h4 class="italic-text text stableheader BannerTextCtn text-center">Design your meals based on scientific or dietary guidelines.</h4>
	
	<p class="text stableheader BannerTextCtn text-center">Choose your own ingredients or select from OneYum’s Featured Menu options.</p>

	<div class="card list no-padding tanBackground" ng-controller="PieCtrl">
		<div class="item">
			<h2 class="text text-center highlight"><b>The Breakdown</b></h2>
			<h4 class="italic-text text stableheader text-center">A balanced foundation for every diet.</h4>
		</div>
		<div class="card list">
			<h3 class="item highlight text">Traditional Meals</h3>
			<div class="item row" style="margin-left:5px;">
				<div class="pieCtn">
					<canvas id="pieChart" class="chart chart-pie" data="traditional.data" labels="traditional.labels" options="options" colours="traditional.colours" legend="false" series="series" chart-click="onClick()"></canvas>
				</div>
				
				<table class="pieTable left stableheader">
					<caption></caption>
					<thead>
						<tr>
							<th class="text-center text"><h5><b>Contents</b></h5></th>
							<th class="text-center text"><h5><b>Ounces</b></h5></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in traditional.data track by $index">
							<td class="text-center text"><h5>{{traditional.labels[$index]}}</h5></td>
							<td class="text-center text"><h5>{{item}}</h5></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="item item-icon-right">
				<p class="text stableheader">Learn more...</p>
				<i class="icon ion-chevron-right" style="font-size:22px"></i>
			</div>
		</div>
		<div class="card list">
			<h3 class="item highlight text">Vegetarian Meals</h3>
			<div class="item row" style="margin-left:5px;">
				<div class="pieCtn">
					<canvas id="pieChart" class="chart chart-pie" data="vegetarian.data" labels="vegetarian.labels" options="options" colours="vegetarian.colours" legend="false" series="series" chart-click="onClick()"></canvas>
				</div>
				<table class="pieTable left stableheader">
					<caption></caption>
					<thead>
						<tr>
							<th class="text-center text"><h5><b>Contents</b></h5></th>
							<th class="text-center text"><h5><b>Ounces</b></h5></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in vegetarian.data track by $index">
							<td class="text-center text"><h5>{{vegetarian.labels[$index]}}</h5></td>
							<td class="text-center text"><h5>{{item}}</h5></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="item item-icon-right">
				<p class="text stableheader">Learn more...</p>
				<i class="icon ion-chevron-right" style="font-size:22px"></i>
			</div>
		</div>
		<div class="card list">
			<h3 class="item highlight text">Paleo Meals</h3>
			<div class="item row" style="margin-left:5px;">
				<div class="pieCtn">
					<canvas id="pieChart" class="chart chart-pie" data="vegetarian.data" labels="vegetarian.labels" options="options" colours="vegetarian.colours" legend="false" series="series" chart-click="onClick()"></canvas>
				</div>
				<table class="pieTable left stableheader">
					<caption></caption>
					<thead>
						<tr>
							<th class="text-center text"><h5><b>Contents</b></h5></th>
							<th class="text-center text"><h5><b>Ounces</b></h5></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in vegetarian.data track by $index">
							<td class="text-center text"><h5>{{vegetarian.labels[$index]}}</h5></td>
							<td class="text-center text"><h5>{{item}}</h5></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="card list">
			<h3 class="item highlight text">Vegan Meals</h3>
			<div class="item row" style="margin-left:5px;">
				<div class="pieCtn">
					<canvas id="pieChart" class="chart chart-pie" data="vegetarian.data" labels="vegetarian.labels" options="options" colours="vegetarian.colours" legend="false" series="series" chart-click="onClick()"></canvas>
				</div>
				<table class="pieTable left stableheader">
					<caption></caption>
					<thead>
						<tr>
							<th class="text-center text"><h5><b>Contents</b></h5></th>
							<th class="text-center text"><h5><b>Ounces</b></h5></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in vegetarian.data track by $index">
							<td class="text-center text"><h5>{{vegetarian.labels[$index]}}</h5></td>
							<td class="text-center text"><h5>{{item}}</h5></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
    
  </ion-content>
</ion-view>
