<ion-side-menus enable-menu-with-back-views="false" ng-if="mobile()">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable text highlight">
      <ion-nav-back-button class="highlight">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon highlight" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="text button button-icon button-clear highlight" 
                menu-toggle="right"  
                ng-click="login()"
                >Login
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title stableheader text">What are you looking for?</h1>
    </ion-header-bar>
    <ion-content class="stableBackground">
      <ion-list>
        <ion-item menu-close href="#/welcome/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/welcome/meals">
          Meals
        </ion-item>
        <ion-item menu-close href="#/welcome/suppliers">
          Suppliers
        </ion-item>
        <ion-item menu-close href="#/welcome/partners">
          Partners
        </ion-item>
        <ion-item menu-close href="#/welcome/support">
          Support
        </ion-item>
        <ion-item menu-close href="#/welcome/careers">
          Careers
        </ion-item>
        <ion-item menu-close href="#/welcome/about">
          About
        </ion-item>
        <ion-item menu-close href="#/welcome/contact">
          Contact
        </ion-item>
        <ion-item menu-close href="#/welcome/media">
          Media
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<ion-side-menus enable-menu-with-back-views="false" ng-if="tablet()">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable text highlight">
      <ion-nav-back-button class="highlight">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon highlight" menu-toggle="left" ng-hide="tabletVert()">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="text button button-icon button-clear highlight" menu-toggle="right" ng-click="login()">Login</button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="(min-width:650px) and (max-width:900px)">
    <ion-header-bar class="bar-stable">
      <h1 class="title stableheader text text-left padding-left">What are you looking for?</h1>
    </ion-header-bar>
    <ion-content class="stableBackground">
      <ion-list>
        <ion-item menu-close href="#/welcome/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/welcome/meals">
          Meals
        </ion-item>
        <ion-item menu-close href="#/welcome/suppliers">
          Suppliers
        </ion-item>
        <ion-item menu-close href="#/welcome/partners">
          Partners
        </ion-item>
        <ion-item menu-close href="#/welcome/support">
          Support
        </ion-item>
        <ion-item menu-close href="#/welcome/careers">
          Careers
        </ion-item>
        <ion-item menu-close href="#/welcome/about">
          About
        </ion-item>
        <ion-item menu-close href="#/welcome/contact">
          Contact
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<ion-side-menus enable-menu-with-back-views="false" ng-if="desktop()">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable text highlight">
      <ul class="row desktopNav no-padding" ng-if="desktop()">
        <a class="col button button-clear highlight text" ui-sref="welcome.home" nav-transition="none"><img src="img/OneYumPie.png" style="height:18px;background-size:contain;margin-right:1px;"><b>neYum</b></a>
        <a class="col button button-clear text" ng-href="#/welcome/meals" nav-transition="none">Meals</a>
        <a class="col button button-clear text" ng-href="#/welcome/suppliers" nav-transition="none">Suppliers</button>
        <a class="col button button-clear text" ng-href="#/welcome/partners" nav-transition="none">Partners</a>
        <a class="col button button-clear text" ng-href="#/welcome/support" nav-transition="none">Support</a>
        <a class="col button button-clear text" ng-href="#/welcome/careers" nav-transition="none">Careers</a>
        <a class="col button button-clear text" ng-href="#/welcome/about" nav-transition="none">About</a>
        <a class="col button button-clear text" ng-href="#/welcome/contact" nav-transition="none">Contact</a>
        <a class="col button button-clear text" ng-click="login()" >Login</a>
      </ul>
      <ion-nav-back-button class="highlight">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <!-- <button class="button button-icon button-clear ion-navicon highlight" menu-toggle="left"></button> -->
        
      </ion-nav-buttons>
      <ion-nav-buttons>
        <!-- <ul>
          <button class="button button-clear">Home</button>
          <button class="button button-clear">Meals</button>
          <button class="button button-clear">Suppliers</button>
          <button class="button button-clear">Partners</button>
          <button class="button button-clear">Support</button>
          <button class="button button-clear">Careers</button>
          <button class="button button-clear">About</button>
          <button class="button button-clear">Contact</button>
        </ul> -->
        <button class="text button button-icon button-clear highlight" menu-toggle="right" >Login</button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title stableheader text">What are you looking for?</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/welcome/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/welcome/meals">
          Meals
        </ion-item>
        <ion-item menu-close href="#/welcome/suppliers">
          Suppliers
        </ion-item>
        <ion-item menu-close href="#/welcome/partners">
          Partners
        </ion-item>
        <ion-item menu-close href="#/welcome/support">
          Support
        </ion-item>
        <ion-item menu-close href="#/welcome/careers">
          Careers
        </ion-item>
        <ion-item menu-close href="#/welcome/about">
          About
        </ion-item>
        <ion-item menu-close href="#/welcome/contact">
          Contact
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu> -->
</ion-side-menus>
