<ion-view>
	<ion-nav-title class="text highlight logo">
		<span class="text hightlight">Partners</span>
	</ion-nav-title>
  <ion-content class="fabricBackground">
    <div class="primaryBannerImagePartners"></div>
    <div ng-class="{desktop:desktop()}">
        <h1 class="text stableheader text-center BannerTextCtn"><b>Community Focused</b></h1>

        <h4 class="italic-text text text-center stableheader BannerTextCtn">Our couragous goals can only be accomplished through partnerships that help us all reach our potential.</h4>
        
        <p class="text stableheader text-center BannerTextCtn">OneYum is not possible without the generous support contributed by:</p>
        <div class="padding">
            <div class="padding-left padding-right padding-bottom card list">
                <h4 class="text highlight item"><b>Necessary Supply</b></h4>
                <p class="text stableheader padding-top padding-left">We have built every existing infrastructure into our model. It is our mission to find the perfect balance to drive growth for both suppliers and distributors.</p>
                <div class="padding">
                    <p class="text stableheader">- Food Banks</p>
                    <p class="text stableheader">- Grocery Stores</p>
                    <p class="text stableheader">- Farmer's Markets</p>
                    <p class="text stableheader">- Local CSA's</p>
                </div>
            </div>

            <div class="padding-left padding-right padding-bottom card">
                <h4 class="text highlight item"><b>Culinary Talents </b></h4>
                <p class="text stableheader padding-top padding-left">OneYum's operations require talent. We are actively seeking partnerships with local culinary training institutions, catering companies, and restaurants.</p>
                <div class="padding">
                    <p class="text stableheader">- Training Facilities</p>
                    <p class="text stableheader">- Local Restaurants</p>
                    <p class="text stableheader">- Local Catering Organizations</p>
                </div>
            </div>

            <div class="padding-left padding-right padding-bottom card">
                <h4 class="text highlight item"><b>Procurement & Distribution</b></h4>
                <p class="text stableheader padding-top padding-left">OneYum will utilize many individuals to assist us in procurement of supplies and delivery of our finished goods.</p>
                <div class="padding">
                    <p class="text stableheader">- ZipCar</p>
                </div>
            </div>

            <div class="padding-left padding-right padding-bottom card">
                <h4 class="text highlight item"><b>Recipe Creation</b></h4>
                <!-- <p class="text stableheader padding-top padding-left">OneYum will utilize many individuals to assist us in procurement of supplies and delivery of our finished goods.</p> -->
                <div class="padding">
                    <p class="text stableheader">- Local Restaurant Chefs</p>
                    <p class="text stableheader">- Local Catering Organizations</p>
                    <p class="text stableheader">- Cookbook Authors</p>
                    <p class="text stableheader">- OneYum  Community</p>
                </div>
            </div>

            <div class="padding-left padding-right padding-bottom card">
                <h4 class="text highlight item"><b>OneYum Ambassadors</b></h4>
                <p class="text stableheader padding-top padding-left">To effectively help fill the food needs of the communities we serve, we will connect with local organizations and agencies that are well versed in assisting this cause. It is our goal to help make their work easier as well.</p>
                <div class="padding">
                    <p class="text stableheader">- Public Assistance Agencies</p>
                    <p class="text stableheader">- Food Banks</p>
                    <p class="text stableheader">- Elderly Care Organizations</p>
                    <p class="text stableheader">- New Family Assistance Organizations</p>
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
