<ion-view>
	<ion-nav-title class="text highlight logo">
		<img class="padding-top" src="../img/OneYumPie.png" style="height:1.2em;background-size:contain;margin-right:-5px;">
		neYum
	</ion-nav-title>
  <ion-content>
    <div class="primaryBannerImageSuppliers"></div>

    <h1 class="text stableheader text-center BannerTextCtn">OneYum Partners</h1>

    <h4 class="italic-text text text-center stableheader BannerTextCtn">Working toward something greater.</h4>

    <p class="text stableheader text-center BannerTextCtn">Utilizing partners within our community will help us reach our potential. Our couragous goals cannnot be accomplished alone.</p>
    <h3 class="text highlight text-center BannerTextCtn">OneYum is not possible without: </h3>
    <div class="BannerTextCtn">
    	<div class="card list tanBackground">
    		<div class="card list">
    			<h4 class="item text highlight"><b>Necessary Supply</b></h4>
    			<h5 class="item text stableheader">Food Banks</h5>
    			<h5 class="item text stableheader">Grocery Stores</h5>
    			<h5 class="item text stableheader">Farmer's Markets</h5>
    			<h5 class="item item-text-wrap text stableheader">Independent Agricultural Suppliers</h5>
    		</div>
    		<div class="card list">
    			<h4 class="text highlight item"><b>Culinary Talents </b></h4>
    			<h5 class="item text stableheader">Training Facilities</h5>
    			<h5 class="item text stableheader">Local Restaurants</h5>
    			<h5 class="item text stableheader">Local Catering Organizations</h5>
    			<!-- <h5 class="item item-text-wrap text stableheader">Independent Agricultural Suppliers</h5> -->
    		</div>
    		<div class="card list">
    			<h4 class="text highlight item"><b>Product Distribution</b></h4>
    			<h5 class="item text stableheader">ZipCar</h5>
    			<!-- <h5 class="item item-text-wrap text stableheader">Independent Agricultural Suppliers</h5> -->
    		</div>
    		<div class="card list">
    			<h4 class="text highlight item"><b>Recipe Creation</b></h4>
    			<h5 class="item text stableheader">Local Restaurant Chefs</h5>
    			<h5 class="item text stableheader">Local Catering Organizations</h5>
    			<h5 class="item text stableheader">Cookbook Authors</h5>
    			<h5 class="item text stableheader">OneYum  Community</h5>
    			<!-- <h5 class="item item-text-wrap text stableheader">Independent Agricultural Suppliers</h5> -->
    		</div>
    		<div class="card list">
    			<h4 class="text highlight item"><b>OneYum Ambassadors</b></h4>
    			<h5 class="item text stableheader">Public Assistance Agencies</h5>
    			<h5 class="item text stableheader">Food Banks</h5>
    			<h5 class="item text stableheader">Elderly Care Organizations</h5>
    			<h5 class="item text stableheader">New Family Assistance Organizations</h5>
    			<!-- <h5 class="item item-text-wrap text stableheader">Independent Agricultural Suppliers</h5> -->
    		</div>
    	</div>
    </div>
  </ion-content>
</ion-view>
