<ion-modal-view>
  <ion-header-bar align-title="center">
    <h1 class="title text highlight text-center">Register</h1>
    <div class="buttons">
      <button class="text button button-clear" ng-click="closeRegister()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="registerform" ng-submit="doRegister(registerData)" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="text input-label">First Name:</span>
          <input type="text" ng-model="registerData.fname">
        </label>
        <label class="item item-input">
          <span class="text input-label">Last Name:</span>
          <input type="text" ng-model="registerData.lname">
        </label>
        <label class="item item-input">
          <span class="text input-label">Email:</span>
          <input type="email" ng-model="registerData.email" ng-blur="checkUsername(registerData.email)">
        </label>
        <span class="item item-text-wrap text-center errortext" ng-show="isTakenEmail">This Email has already been taken. Please choose another.</span>
        <label class="item item-input">
          <span class="text input-label">Password:</span>
          <input type="password" ng-model="registerData.password" ng-pattern="/(?=^.{8,30}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;&quot;:;'?/&gt;.&lt;,]).*$/" ng-minlength=8 ng-maxlength=30 required ng-focus="active=true" ng-blur="active=false">
        </label>
        <span class="item text item-text-wrap text-center errortext" ng-show="active">Password must contain a capital letter, lowercase letter, number, symbol, and be between 8 and 30 characters long.</span>
        <label class="item item-input">
          <span class="text input-label">Verify Password:</span>
          <input type="password" ng-model="registerData.verpassword" ng-pattern="/(?=^.{8,30}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;&quot;:;'?/&gt;.&lt;,]).*$/" ng-minlength=8 ng-maxlength=30 required>
        </label>
        <label class="item">
          <span class="item item-text-wrap text-center errortext" ng-show="errored"></span>
          <button class="text button button-block btn" ng-disabled="registerform.$invalid">Submit</button>
        </label>
      </div>
    </form>
    <div class="list no-padding">
        <label class="item item-text-wrap text-center">
          <div class="button-bar">
            <button class="button button-clear" style="overflow:visible;" ng-click="externalAuthRegister('facebook')">
              <div class="text-facebook">
                <i class="icon ion-social-facebook"></i>
              </div>
            </button>
            <button class="button button-clear disabled" style="overflow:visible;" ng-click="hello('twitter').login()">
              <div class="text-twitter">
                <i class="icon ion-social-twitter"></i>
              </div>
            </button>
            <button class="button button-clear disabled" style="overflow:visible;" ng-click="hello('pinterest').login()"><div class="text-pinterest"><i class="icon ion-social-pinterest"></i></div></button>
            <button class="button button-clear disabled" style="overflow:visible;" ng-click="hello('instagram').login()"><div class="text-instagram"><i class="icon ion-social-instagram"></i></div></button>
          </div>
          <span class="row no-padding">
            <span class="col padding-top"></span>
            <span class="col padding-top text disabled stableheader" style="font-size:10px;">Coming soon</span>
            <span class="col padding-top text disabled stableheader" style="font-size:10px;">Coming soon</span>
            <span class="col padding-top text disabled stableheader" style="font-size:10px;">Coming soon</span>
          </span>
        </label>
      </div>
    <a class="text button button-block button-clear highlight" ng-click="supRegister()">Supplier Registration</a>
    <!-- <a class="text button button-block button-clear highlight">Partner Registration</a>
    <a class="text button button-block button-clear highlight">Corporate Registration</a> -->
  </ion-content>
</ion-modal-view>
