<ion-view>
	<ion-nav-title class="text highlight logo">
		<img class="padding-top" src="../img/OneYumPie.png" style="height:1.2em;background-size:contain;margin-right:-5px;">
		neYum
	</ion-nav-title>
  <ion-content>

  	<div class="primaryBannerImageSuppliers"></div>

    <h1 class="text highlight BannerTextCtn"><b>OneYum Suppliers</b></h1>

    <h4 class="italic-text text text-center stableheader BannerTextCtn">Helping make OneYum great.</h4>

    <p class="text stableheader text-center BannerTextCtn">We have built every existing infrastructure into our model. It is our mission to find the perfect balance to drive growth for both suppliers and distributors.</p>

    <div class="padding-top padding-left padding-right">
      <div class="list">
        <h4 class="text highlight text-center"><b>Suppliers</b></h4>
        <p class="text stableheader padding-top"></p>
        <div class="padding text-center">
            <p class="text stableheader">Food Banks</p>
            <p class="text stableheader">Grocery Stores</p>
            <p class="text stableheader">Farmer's Markets</p>
            <p class="text stableheader">Local CSA's</p>
        </div>
      </div>
    </div>

    <p class="text stableheader BannerTextCtn">Purchasing locally makes sense. It supports the farmers in our community, it prevents food from being wasted and it shortens the trip between where the food comes from and who ends up eating it. Initially, local grocery stores, CSAs and farmer’s markets will supply all of the raw ingredients while we develop direct relationships with farms in the area. Local suppliers of produce and meat are encourage to reach out. We want to know more about you and your farm.</p>
  </ion-content>
</ion-view>
