<ion-view>
	<ion-nav-title class="text highlight logo">
		<img class="padding-top" src="../img/OneYumPie.png" style="height:1.2em;background-size:contain;margin-right:-5px;">
		neYum
	</ion-nav-title>
  <ion-content>

  	<div class="primaryBannerImageSuppliers"></div>

    <h1 class="text stableheader BannerTextCtn">OneYum Suppliers</h1>

    <h5 class="italic-text text text-center stableheader BannerTextCtn">Helping make OneYum great.</h5>

    <h5 class="text stableheader BannerTextCtn">OneYum is starting in Lowell MA, and we want to work with local resources to make OneYum possible. Purchasing locally makes sense. It supports the farmers in our community, it prevents food from being wasted and it shortens the trip between where the food comes from and who ends up eating it. Initially, local grocery stores, CSAs and farmer’s markets will supply all of the raw ingredients, however, we are looking to develop direct relationships with farms in the area. Local suppliers of produce and meat are encourage to reach out, we want to know more about you and your farm.</h5>
  </ion-content>
</ion-view>
