<ion-view>
	<ion-content scroll="true" overflow-scroll="true">
		<div style="height:3858px;width:100%">
			<iframe ng-if="TemplateTitle === 'Business Concept Survey'" src="https://docs.google.com/forms/d/1k4nE3QdKUZLsIKnNiIYoQ6SsMWU_cfL9QpjIKzvkJcQ/viewform?embedded=true" width="100%" height="3858" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		</div>
			
		<iframe ng-if="TemplateTitle === 'Product/Service Survey'" src="https://docs.google.com/forms/d/1G9LLcFH408yow5TU6eIFnJdn79dZxoo4LaQT6SlzyzU/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</ion-content>
</ion-view>
