<ion-view>
	<ion-nav-title class="text highlight logo">
		<img class="padding-top" src="../img/OneYumPie.png" style="height:1.2em;background-size:contain;margin-right:-5px;" ng-click="goHome()">
		neYum
	</ion-nav-title>
  <ion-content>
  	<div class="primaryBannerImage">
  	</div>
    <h1 class="text highlight text-center padding"><strong>Support OneYum</strong></h1>
    <h4 class="center-text text stableheader padding">There are many way you can help OneYum reach success. Right now, we could really use your help with some of the following:</h4>
    <div class="list">
    	<div class="list card" ng-repeat="options in supportOptions">
    		<div class="item item-icon-left">
			    <i class="icon {{options.thumbnail}} highlight"></i>
			    <h2 class="text highlight"><strong>{{options.title}}</strong></h2>
		  	</div>
		  	<p class="item item-inset item-text-wrap">{{options.description}}</p>
		  	<div class="item item-icon-right" ng-click="goToSupportTemplate(options.title)">
		  		<h2 class="text stableheader">Take the Google Survey</h2>
		  		<i class="icon ion-chevron-right stableheader"></i>
		  	</div>
    	</div>
    </div>
  </ion-content>
</ion-view>