<ion-modal-view>
  <ion-header-bar align-title="center">
    <h1 class="title text highlight text-center">Supplier Registration</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSupRegister()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="supRegistersubmit" ng-show="!validated" ng-submit="dosupRegisterkey(supReg)" novalidate>
      <div class="list">
        <p class="item item-inset item-text-wrap">
          Please enter your supplier key in the space below. If you don't have one, please visit our Supplier Page to request your business's key.
        </p>
        <button class="item button button-full button-clear item-icon-right" ng-click="goToSupplierPage()">
          Visit Supplier's Page to get key.
          <i class="icon ion-chevron-right"></i>
        </button>
        <label class="item item-input">
          <span class="item-label">Key:</span>
          <input type="text" ng-model="supReg.validationkey" ng-minlength=10 ng-maxlength=10 required>
        </label>
        <label class="item">
          <span class="item item-text-wrap text-center errortext" ng-show="errored"></span>
          <button class="button button-block btn" ng-disabled="supRegistersubmit.$invalid" ng-click="validated = !validated">Submit</button>
        </label>
      </div>
    </form>
    <form name="supRegisterform" ng-submit="dosupRegister(supplierregister)" ng-show="validated" novalidate>
      <div class="list">
        <p class="item item-inset item-text-wrap">
          Please verify that the following information for your company is accurate. Next step will be creating your own contact account. 
        </p>
        <h3 class="item text text-center highlight"><strong>Verify Company Info</strong></h3>
        <label class="item item-input">
          <span class="input-label">Name:</span>
          <input type="text" ng-model="supplierregister.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Website:</span>
          <input type="url" ng-model="supplierregister.website" ng-minlength=8 ng-maxlength=30 required>
        </label>
        <label class="item item-input">
          <span class="input-label">Phone:</span>
          <input type="tel" ng-model="supplierregister.phone">
        </label>
        <label class="item item-input">
          <span class="input-label">Address:</span>
          <input type="text" ng-model="supplierregister.street" required>
        </label>
        <label class="item item-input">
          <span class="input-label">City:</span>
          <input type="text" ng-model="supplierregister.city" required>
        </label>
        <label class="item item-input">
          <span class="input-label">State:</span>
          <input type="text" ng-model="supplierregister.state" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Zip Code:</span>
          <input type="text" ng-model="supplierregister.zip" required>
        </label>
        <label class="item">
          <span class="item item-text-wrap text-center errortext" ng-show="errored"></span>
          <button class="button button-block btn" ng-disabled="supRegisterform.$invalid">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
