<div class="backgroundSection3" ng-if="mobile()">
	<h1 class="text sectionHeader stableheader padding"><strong> OneYum is Sustainable</strong></h1>
	<div>
		<div class="card">
	  		<ion-list class="list">
	  			<div class="item item-icon-left">
	  				<i class="icon ion-ios-pricetag stableheader"></i>
	  				<span class="text stableheader center-text"><b>Locally Sourced Ingredients</b></span>
	  			</div>
	  			<ion-slide-box 
					deligate-handle="login-register-slider" 
					does-continue="true"
					auto-play="true"
					show-pager="false"
					class="backgroundSlider"
				>
					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local Farm</b></span>
					  			<p>Location of Farm</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="farmers"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local Farm's Focus and Description</p>
					  			<span></span>
				  			</div>
			  			</div>
					</ion-slide>

					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local CSA</b></span>
					  			<p>Location of CSA</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="city"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local CSA's focus and description</p>
				  			</div>
			  			</div>
					</ion-slide>
			    </ion-slide-box>
	  		</ion-list>
  		</div>
  		<div class="card">
	  		<ion-list class="list">
	  			<div class="item item-icon-left">
	  				<i class="icon ion-ios-pricetag stableheader"></i>
	  				<span class="text stableheader center-text"><b>Locally Sourced Talent</b></span>
	  			</div>
	  			<ion-slide-box 
					deligate-handle="login-register-slider" 
					does-continue="true"
					auto-play="true"
					show-pager="false"
					class="backgroundSlider"
				>
					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local Chef</b></span>
					  			<p>Place of work, Location</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="chef2"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local Chef's Focus and Recipes</p>
					  			<span></span>
				  			</div>
			  			</div>
					</ion-slide>

					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local Talent</b></span>
					  			<p>Place of work, Location</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="chef1"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local Individual's focus and description</p>
				  			</div>
			  			</div>
					</ion-slide>
			    </ion-slide-box>
	  		</ion-list>
  		</div>
	</div>
</div>

<div class="backgroundSection3" ng-if="tablet()">
	<h1 class="text sectionHeader stableheader padding"><strong> OneYum is Sustainable</strong></h1>
	<div ng-class="{row:tabletHori()}">
		<div class="card" ng-class="{col:tabletHori()}">
	  		<ion-list class="list">
	  			<div class="item item-icon-left">
	  				<i class="icon ion-ios-pricetag stableheader"></i>
	  				<span class="text stableheader center-text"><b>Locally Sourced Ingredients</b></span>
	  			</div>
	  			<ion-slide-box 
					deligate-handle="login-register-slider" 
					does-continue="true"
					auto-play="true"
					show-pager="false"
					class="backgroundSlider"
				>
					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local Farm</b></span>
					  			<p>Location of Farm</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="farmers"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local Farm's Focus and Description</p>
					  			<span></span>
				  			</div>
			  			</div>
					</ion-slide>

					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local CSA</b></span>
					  			<p>Location of CSA</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="city"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local CSA's focus and description</p>
				  			</div>
			  			</div>
					</ion-slide>
			    </ion-slide-box>
	  		</ion-list>
  		</div>
  		<div class="card" ng-class="{col:tabletHori()}">
	  		<ion-list class="list">
	  			<div class="item item-icon-left">
	  				<i class="icon ion-ios-pricetag stableheader"></i>
	  				<span class="text stableheader center-text"><b>Locally Sourced Talent</b></span>
	  			</div>
	  			<ion-slide-box 
					deligate-handle="login-register-slider" 
					does-continue="true"
					auto-play="true"
					show-pager="false"
					class="backgroundSlider"
				>
					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local Chef</b></span>
					  			<p>Place of work, Location</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="chef2"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local Chef's Focus and Recipes</p>
					  			<span></span>
				  			</div>
			  			</div>
					</ion-slide>

					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local Talent</b></span>
					  			<p>Place of work, Location</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="chef1"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local Individual's focus and description</p>
				  			</div>
			  			</div>
					</ion-slide>
			    </ion-slide-box>
	  		</ion-list>
  		</div>
	</div>
</div>

<div class="backgroundSection3" ng-if="desktop()">
	<h1 class="text sectionHeader stableheader padding"><strong> OneYum is Sustainable</strong></h1>
	<div ng-class="{row:desktop(),desktop:desktop(), shdesktop:desktop()}" ng-class="{}">
		<div class="card" ng-class="{col:desktop()}">
	  		<ion-list class="list">
	  			<div class="item item-icon-left">
	  				<i class="icon ion-ios-pricetag stableheader"></i>
	  				<span class="text stableheader center-text"><b>Locally Sourced Ingredients</b></span>
	  			</div>
	  			<ion-slide-box 
					deligate-handle="login-register-slider" 
					does-continue="true"
					auto-play="true"
					show-pager="false"
					class="backgroundSlider"
				>
					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local Farm</b></span>
					  			<p>Location of Farm</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="farmers"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local Farm's Focus and Description</p>
					  			<span></span>
				  			</div>
			  			</div>
					</ion-slide>

					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local CSA</b></span>
					  			<p>Location of CSA</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="city"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local CSA's focus and description</p>
				  			</div>
			  			</div>
					</ion-slide>
			    </ion-slide-box>
	  		</ion-list>
  		</div>
  		<div class="card" ng-class="{col:desktop()}">
	  		<ion-list class="list">
	  			<div class="item item-icon-left">
	  				<i class="icon ion-ios-pricetag stableheader"></i>
	  				<span class="text stableheader center-text"><b>Locally Sourced Talent</b></span>
	  			</div>
	  			<ion-slide-box 
					deligate-handle="login-register-slider" 
					does-continue="true"
					auto-play="true"
					show-pager="false"
					class="backgroundSlider"
				>
					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local Chef</b></span>
					  			<p>Place of work, Location</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="chef2"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local Chef's Focus and Recipes</p>
					  			<span></span>
				  			</div>
			  			</div>
					</ion-slide>

					<ion-slide>
						<div class="card list">
				  			<div class="item item-avatar">
				  				<img src="../img/iconmonstr-user-14-icon-256.png" class="avatarCard">
					  			<span class="text stableheader standardTextSize"><b>Local Talent</b></span>
					  			<p>Place of work, Location</p>
				  			</div>
				  			<div class="item item-image">
				  				<div class="chef1"></div>
			  				</div>
			  				<div class="item">
					  			<p>Local Individual's focus and description</p>
				  			</div>
			  			</div>
					</ion-slide>
			    </ion-slide-box>
	  		</ion-list>
  		</div>
	</div>
</div>