<div class="greyBackground box-shadow-Section" ng-if="mobile()">
	<h1 class="text sectionHeader text-center white padding"><strong>Committed</strong></h1>
	<div class="row">
		<div class="col">
			<div class="iconPlaceholder">
				<p class="syncronization"></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col white BannerTextCtn text-center">
			<p class="text white">Buiding every existing structure into the equation to successfully redesign how food works.</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="iconPlaceholder">
				<p class="syncronization"></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col white BannerTextCtn text-center">
			<p class="text white">Buiding every existing structure into the equation to successfully redesign how food works.</p>
		</div>
	</div>
</div>

<div class="greyBackground box-shadow-Section" ng-if="tabletVert()">
	<h1 class="text sectionHeader text-center white padding"><strong>Committed</strong></h1>
	<div class="row">
		<div class="col">
			<div class="iconPlaceholder">
				<p class="syncronization"></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col white BannerTextCtn text-center">
			<p class="text white">Buiding every existing structure into the equation to successfully redesign how food works.</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="iconPlaceholder">
				<p class="syncronization"></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col white BannerTextCtn text-center">
			<p class="text white">Buiding every existing structure into the equation to successfully redesign how food works.</p>
		</div>
	</div>
</div>
<div class="greyBackground box-shadow-Section" ng-if="tabletHori()">
	<h1 class="text sectionHeader text-center white padding"><strong>Committed</strong></h1>
	<div class="row">
		<div class="col col-80 col-offset-10">
			<div class="row">
				<div class="iconPlaceholder">
					<p class="syncronization"></p>
				</div>
				<div class="white BannerTextCtn text-center">
					<p class="text white">Buiding every existing structure into the equation to successfully redesign how food works.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-80 col-offset-10">
			<div class="row">
				<div class="iconPlaceholder">
					<p class="syncronization"></p>
				</div>
				<div class=" white BannerTextCtn text-center">
					<p class="text white">Buiding every existing structure into the equation to successfully redesign how food works.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="greyBackground box-shadow-Section" ng-if="desktop()">
	<h1 class="text sectionHeader text-center white padding"><strong>Committed</strong></h1>
	<div class="row">
		<div class="col col-80 col-offset-10">
			<div class="row">
				<div class="iconPlaceholder">
					<p class="syncronization"></p>
				</div>
				<div class="white BannerTextCtn text-center">
					<p class="text white">Buiding every existing structure into the equation to successfully redesign how food works.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-80 col-offset-10">
			<div class="row">
				<div class="iconPlaceholder">
					<p class="syncronization"></p>
				</div>
				<div class="white BannerTextCtn text-center">
					<p class="text white">Buiding every existing structure into the equation to successfully redesign how food works.</p>
				</div>
			</div>
		</div>
	</div>
</div>