<div class="greyBackground box-shadow-Section ">
	<h1 class="text sectionHeader text-center white padding"><strong>Committed</strong></h1>
	<div class="row">
		<div class="col">
			<div class="iconPlaceholder">
				<p class="syncronization"></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col white BannerTextCtn text-center">
			<p class="text white">Buiding every existing structure into the equation to successfully redesign how food works.</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="iconPlaceholder">
				<p class="syncronization"></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col white BannerTextCtn text-center">
			<p class="text white">Buiding every existing structure into the equation to successfully redesign how food works.</p>
		</div>
	</div>
</div>