

/* Empty. Add your own CSS if you like */

.text {
	font-family:'Bitter', serif !important;
	margin: 0!important;
}

.desktop{
	width:80% !important;
	max-width: 800px;
	margin-left:auto !important;
	margin-right:auto !important;
}

.tablet { 
	width:95% !important;
	margin-left:2.5% !important;
}

.tabletitem {
	padding-left:35px !important;
	padding-right: 0 !important;
}

.left {
	left: 0!important;
	padding-right: 0 !important;
}

.no-padding {
	padding:0 !important;
}

.errortext {
	font-size: 12px;
	color: #909090;
}

.standardTextSize {
	font-size: 14px;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.center-text {
	text-align: center !important;
}

.bar.bar-stable .title {
	color:#3CA688;
	font-weight: 700;
	text-align: center;
}

.highlight {
	color:#3CA688 !important;
}

.tanBackground {
	background-color: rgba(242,231,174,0.5);
}

.white {
	color: #fff !important;
}
.listicon {
	font-size: 25px !important;
	vertical-align: middle;
}

.logo {
	font-size:1.5em;
}

.desktopNav {
	width: 100%;
	position: fixed;
	z-index: 1001;
	right:0px;
	top:-14px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #b2b2b2;
	border-top: 1px solid #b2b2b2;
}

.stableheader{
	color: #184850 !important;
}

.stableBackground {
	background-color: #f8f8f8 !important;
}

.steadybackground {
	/*background-color: #F2E7AE !important;*/
}

.greyBackground {
	background-color: #d6d6d6;
}

.italic-text {
	padding-top: 10px;
	font-style: italic;
}

.btn {
	color: #fff !important;
	background-color: #3CA688 !important;
}

.button1 {
	width: 70%;
	border-radius: 8px;
	border:none;
	color: #fff !important;
	padding-top: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #3CA688;
	box-shadow: 0 4px 8px -4px rgba(0,0,0,1);
	margin-left:15% !important;
}

.headBannerImageCtn {
	/*height: 575px;*/
	width:100%;
	position: relative;
	overflow: hidden;
}

.img1BannerSlider {
	position: relative;
	height: 250px;
	width:100%;
	background-image: url("../img/salad-club.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.img2BannerSlider {
	position: relative;
	height: 375px;
	width:100%;
	background-image: url("../img/LeadMay_FoodtoMarket-09c0a506.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.actionContainer {
    /*border-radius: 20px;*/
    height: 100%;
    width: 50%;
    max-width:800px;
    /*position: absolute !important;*/
    /*right: 25%;*/
    margin-left: auto !important;
    margin-right: auto !important;
    /*top: 10%;*/
    /*background-color: rgba(248,248,248, 1);*/
    background-image: url("../img/fabric-background.png");
    padding-top: 30px;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.75);
}

.BannerTextCtn {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	/*padding-bottom: 10px;*/
	/*padding-top: 30px !important;*/
	position: relative;
}


.mobileClass1 {
	position: absolute;
}

/*.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #fff;
  fill: #fff;
}

.action .spinner svg {
	width: 28px;
	height: 28px;
	stroke: #3CA688;
	fill: #3CA688;
}*/

.separator:before, .separator:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 30px solid transparent; /* arrow size */
}

.separator:before {
	border-top-color: white;  /* arrow color */

	/* positioning */
	position: absolute;
	/*top: -19px;*/
	left: 40%;
	z-index: 2;
}

.separator:after {
	/*border-top-color: rgba(0,0,0,0.3);*/
	/* positioning */
	position: absolute;
	/*top: 1px;*/
	left: 41.5%;
	z-index: -1;
}

.separator2 {

}

.separator2:before, .separator2:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 30px solid transparent; /* arrow size */
}

.separator2:before {
	border-top-color: rgba(242,231,174,0.5);  /* arrow color */

	/* positioning */
	position: absolute;
	/*top: -19px;*/
	left: 40%;
	z-index: 2;
}

.separator2:after {
	border-top-color: rgba(255,255,255,1);
	/* positioning */
	position: absolute;
	/*top: 1px;*/
	left: 40%;
	z-index: 1;
}

.separator3 {
	
}

.separator3:before, .separator3:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 30px solid transparent; /* arrow size */
}

.separator3:before {
	border-top-color: #184850;  /* arrow color */

	/* positioning */
	position: absolute;
	/*top: -19px;*/
	left: 40%;
	z-index: 2;
}

.separator3:after {
	/*border-top-color: rgba(255,255,255,1);*/
	/* positioning */
	position: absolute;
	/*top: 1px;*/
	left: 40%;
	z-index: 1;
}

.separator4 {
	
}

.separator4:before, .separator4:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 30px solid transparent; /* arrow size */
}

.separator4:before {
	border-top-color: #fff;  /* arrow color */

	/* positioning */
	position: absolute;
	/*top: -19px;*/
	left: 40%;
	z-index: 2;
}

.separator4:after {
	/*border-top-color: rgba(255,255,255,1);*/
	/* positioning */
	position: absolute;
	/*top: 1px;*/
	left: 40%;
	z-index: 1;
}

.backgroundSection1 {
	/*border-top:5px solid white;*/
	/*border-bottom:5px solid #184850;*/
	padding-top:20px;
	padding-bottom:20px;
	/*background-color: #F2E7AE;*/
	/*background-color: rgba(242,231,174,0.5);*/
	/*background-image: url("../img/fabric-background.png");*/
}

.fabricBackground {
	background-image: url("../img/fabric-background.png");
}

.sectionHeader {
	width: 80%;
	margin-left: 10% !important;
	text-align: center;
	/*margin-top: 20px !important;*/
	/*border-top: 3px solid #F26E50;
	border-bottom: 3px solid #F26E50;*/
}

.stepRow {
	width:80%;
	margin-left:10%;
	padding-top:1em !important;
	vertical-align: middle;
}

.stepIcon1 {
	padding-top: 15px;
	padding-left: 10px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-color: #F2E7AE;
	border: 10px solid #3CA688;
}

.stepIcon2 {
	padding-top: 15px;
	padding-left: 20px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-color: #F2E7AE;
	border: 10px solid #3CA688;
}

.stepIcon3 {
	padding-top: 15px;
	padding-left: 25px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-color: #F2E7AE;
	border: 10px solid #3CA688;
}
.stepIcon4 {
	padding-top: 15px;
	padding-left: 25px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-color: #F2E7AE;
	border: 10px solid #3CA688;
}

.registerIcons1 {
	color: #184850;
	font-size: 5em;
    width: 25%;
}

.registerIconsSmall1 {
	color: #184850;
	font-size: 2.2em;
    width: 25%;
}

.registerIcons2 {
	color: #184850;
	font-size: 5em;
    width: 25%;
}

.stepCtn {
	/*background-color: rgba(255,255,255,0.75);*/
    border-radius: 10px;
}

.stepDesc {
	text-align: center;	
	padding-top: 40px;
}

.backgroundSection2 {
	border-top:5px solid rgba(242,231,174,0.2);
	/*border-bottom:5px solid #184850;*/
	padding-top:40px;
	padding-bottom:20px;
	background-image: url('../img/CuttingBoardBambooLight.png');
	background-size: cover;
	/*background-color: #F2E7AE;*/
	/*background-color: rgba(242,231,174,0.2);*/
}

.backgroundSection3 {
	border-top:5px solid #184850;
	/*border-bottom:5px solid #184850;*/
	padding-top:40px;
	padding-bottom:20px;
	/*background-image: url("../img/fabric-background.png");*/
	/*background-image: url('../img/CuttingBoardBambooLight.png');*/
	/*background-size: cover;*/
	/*background-color: rgba(242,231,174,0.5);*/
	/*background-color: rgba(108,93,74,0.30);*/
	/*background-color: rgba(242,231,174,0.2);*/

}

.backgroundSlider {
	background-color: rgba(108,93,74,0.10);
}

.backgroundSection4 {
	border-top:5px solid #fff;
	/*border-bottom:5px solid #184850;*/
	padding-top:40px;
	padding-bottom:20px;
	background-image: url("../img/fabric-background.png");
	/*background-image: url('../img/CuttingBoardBambooLight.png');*/
	/*background-size: cover;*/
	/*background-color: rgba(108,93,74,0.30);*/
	/*background-color: rgba(128,128,128,0.2);*/
	/*background-color: rgba(242,231,174,0.2);*/
}

.pieChart {
	background-image: url('../img/Clagett_Farm_CSA_Week_11.jpg');
	height: 375px;
	width: 100%;
	background-size: cover;
    padding: 18px;
    background-repeat: no-repeat;
    background-position: 55%;
}

.nourishText {
	background-color: rgba(24,72,80,0.8) ;
	/*#184850*/
	position: absolute;
	z-index: 1;
	font-size: 32px !important;
	white-space: initial !important;
	color:#fff;
}

.nT1 {
	top: 50px;
	left:0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nT2 {
	top:153px;
	right:0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nT3 {
	bottom: 40px;
	width:100%;
}

.svg1{
	position: absolute;
	left:0;
  	transform: rotate(-90deg);
  	background: rgba(0,0,0,0);
  	border-radius: 50%;
}

.svg2 {
	position: absolute;
	left:0;
  	transform: rotate(215deg);
  	background: rgba(0,0,0,0);
  	border-radius: 50%;
}

.svg3 {
	position: absolute;
	left:0;
  	transform: rotate(173deg);
  	background: rgba(0,0,0,0);
  	border-radius: 50%;
}

.svg4 {
	position: absolute;
	left:0;
  	transform: rotate(85deg);
  	background: rgba(0,0,0,0);
  	border-radius: 50%;
}

circle.pie1 {
  	fill: rgba(0,0,0,0.0);
  	stroke: rgba(60,166,136,0.85);
  	/*stroke: #3CA688;*/
  	stroke-width: 40;
  	stroke-dasharray: 70 300; /* for 38% */
  	box-shadow: 0 0 2px 1px gray;
}

circle.pie2 {
  	fill: rgba(0,0,0,0.0);
  	/*stroke: #F26E50;*/
  	stroke:rgba(242,110,80,0.85);
  	/*#F26E50*/
  	stroke-width: 40;
  	stroke-dasharray: 20 300; /* for 38% */
}

circle.pie3 {
  	fill: rgba(0,0,0,0.0);
  	/*stroke: #F2E7AE;*/
  	stroke: rgba(242,231,174,0.9);
  	stroke-width: 40;
  	stroke-dasharray: 15 300; /* for 38% */
}

circle.pie4 {
  	fill: rgba(0,0,0,0.0);
  	/*stroke: #6C5D4A;*/
  	stroke:rgba(108,93,74,0.90);
  	stroke-width: 40;
  	stroke-dasharray: 34 300; /* for 38% */
}

.handsin {
	background-image: url('../img/grouphandsin.png') !important;
	height: 375px;
	background-position: 56%;
	background-size:cover;
}

.farmers {
    background-image: url('../img/Farmers.jpg') !important;
    width: 100%;
    height: 200px;
    background-size: contain;
}

.city {
	background-image: url('../img/Urban_Garden.jpg') !important;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.avatarCard {
    border-radius: 100%;
    border: 2px solid #184850;
}

.chef1 {
	background-image: url('../img/chef1.jpg') !important;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.chef2 {
	background-image: url('../img/chef2.jpeg') !important;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.woodGrain {
	background-image: url('../img/cuttingboard.jpeg') !important;

	width: 100%;
	height:100%;
}

.woodGrain a.item-content {
	/*background-image: url('../img/cuttingboard.jpeg') !important;*/
	width: 100%;
	height:100%;
}

.iconHeart {
	color: rgba(24,72,80,1) !important;
	height: 32px !important;
	width:32px !important;

}

/*Support Page CSS*/

.primaryBannerImageSupport {
	width: 100%;
	height:250px;
	background-image: url('../img/hands-together-tree.jpg');
	background-position: center;
	background-size: cover;
}

/*Meals Page CSS*/

.primaryBannerImageMeals {
	width: 100%;
	height:250px;
	background-image: url('../img/CSA-share.jpg');
	background-position: center;
	background-size: cover;
}

.BannerTitleCtn {
	opacity: 0.6;
	border-radius: 50%;

}

.meal-slider-card {
	height:250px !important;
	margin-bottom:-3px;
}

.meal-slider-img {
	height:152px; 
	width:100%; 
	background-position:center;
}

.slider-pager {
	bottom:3px !important;
}

.activityBackground {
	background-image: url('../img/CuttingBoardBambooLight.png');
	background-size: cover;
}

.plansBackground {
	background-image: url('../img/yellow_lined_paper.png');
	background-size: cover;
}

.pieCtn {
	max-width:200px;
	max-height:199px;
	height:199px;
	width: 45%;
	margin-left:2.5%;
	margin-top:4.5%;
}

.pieTable {
	width:50%;
	height:199px;
	position: absolute;
	right: 0px;
}

.touch {
	position: absolute;
	top: 12px;
    right: 22%;
}

.household {
	background-color: rgba(242,231,174,0.5);
}

/*Suppliers Page*/

.primaryBannerImageSuppliers {
	width: 100%;
	height:250px;
	background-image: url('../img/LeadMay_FoodtoMarket-09c0a506.jpeg');
	background-position: center;
	background-size: cover;
}

/*Partner's Page*/
.primaryBannerImagePartners {
	width: 100%;
	height:250px;
	background-image: url('../img/Farmers.jpg');
	background-position: center;
	background-size: cover;
}

/*Careers Page*/

.primaryBannerImageCareers {
	width: 100%;
	height:250px;
	background-image: url('../img/careerMap.jpg');
	background-position: center;
	background-size: cover;
}

/*About Page*/

.primaryBannerImageAbout {
	width: 100%;
	height:80px;
	background-image: url('../img/OneYumlogoonwood.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*Contact Page*/

.greyBackground {
	background-color: rgba(108,93,74,0.30);
}

.primaryBannerImageContact {
	width: 100%;
    height: 250px;
    background-image: url('../img/OneYumPie.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}