/* Empty. Add your own CSS if you like */
.text {
	font-family:'Bitter', serif;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.center-text {
	text-align: center !important;
}

.bar.bar-stable .title {
	color:#3CA688;
	font-weight: 700;
	text-align: center;
}

.highlight {
	color:#3CA688 !important;
}

.logo {
	font-size:1.5em;
}

.stableheader{
	color: #184850 !important;
}

.steadybackground {
	/*background-color: #F2E7AE !important;*/
}

.headBannerImageCtn {
	height: 400px;
	width:100%;
	position: relative;
	overflow: hidden;
	/*background-color: gray;*/
    box-shadow: inset 0px 0px 30px 0px black;
}

.img1BannerSlider {
	height: 400px;
	width:100%;
	background-image: url("../img/salad-club.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.img2BannerSlider {
	height: 400px;
	width:100%;
	background-image: url("../img/CSA-share.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.img3BannerSlider {
	height: 400px;
	width:100%;
	background-image: url("../img/Clagett_Farm_CSA_Week_11.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.img4BannerSlider {
	height: 400px;
	width:100%;
	background-image: url("../img/378x280xsitemgr_photo_2000320372.png.pagespeed.ic.kIu5MK48l7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.bannerTextContainerL {
	background-color: #3CA688;
	border-radius: 0 50% 0 0;
	height:	270px;
	width: 270px;
	position: absolute;
	top:170px;
	box-shadow: 5px -5px 30px -4px rgba(0, 0, 0, 0.7);
}

.bannerTextContainerL_2 {
	background-color: #6C5D4A!important;
	border-radius: 0 50% 0 0;
	height:	270px;
	width: 270px;
	position: absolute;
	top:170px;
	box-shadow: 5px -5px 30px -4px rgba(0, 0, 0, 0.7);
}

.bannerTextContainerR {
	background-color: #3CA688;
	border-radius: 50% 0 0 0;
	height:	270px;
	width: 270px;
	position: absolute;
	top:170px;
	right:0;
	box-shadow: -5px -5px 30px -4px rgba(0, 0, 0, 0.7);
}

.bannerTextContainerR_2 {
	background-color: #6C5D4A!important;
	border-radius: 50% 0 0 0;
	height:	270px;
	width: 270px;
	position: absolute;
	top:170px;
	right:0;
	box-shadow: -5px -5px 30px -4px rgba(0, 0, 0, 0.7);
}

.bannerText {
	/*text-align: center;*/
	font-weight: 700;
	font-size: 20px;
	color:#fff;
}

.bannerText.focus {
	padding-top: 20px;
	font-size: 3.2em;
	font-weight: 700;
}

.sectionHeader {
	width: 80%;
	margin-left: 10%;
	text-align: center;
	margin-top: 20px !important;
	border-top: 3px solid #F26E50;
	border-bottom: 3px solid #F26E50;
}

.stepRow {
	width:80%;
	margin-left:10%;
	padding-top:1em !important;
	vertical-align: middle;
}

.stepIcon1 {
	padding-top: 15px;
	padding-left: 10px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-color: #F2E7AE;
	border: 10px solid #3CA688;
}

.stepIcon2 {
	padding-top: 15px;
	padding-left: 20px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-color: #F2E7AE;
	border: 10px solid #3CA688;
}

.stepIcon3 {
	padding-top: 15px;
	padding-left: 25px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-color: #F2E7AE;
	border: 10px solid #3CA688;
}
.stepIcon4 {
	padding-top: 15px;
	padding-left: 25px;
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-color: #F2E7AE;
	border: 10px solid #3CA688;
}

.registerIcons1 {
	color: #184850;
	font-size: 5em;
    width: 25%;
}

.registerIconsSmall1 {
	color: #184850;
	font-size: 2.2em;
    width: 25%;
}

.registerIcons2 {
	color: #184850;
	font-size: 5em;
    width: 25%;
}

.stepDesc {
	text-align: center;	
	padding-top: 40px;
}

.pieChart {
	height: 300px;
	width: 100%;
	
}

.nourishText {
	background-color: rgba(24,72,80,0.8) ;
	/*#184850*/
	position: absolute;
	z-index: 1;
	font-size: 32px !important;
	white-space: initial !important;
	color:#fff;
}

.nT1 {
	top: 20px;
	left:0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nT2 {
	top:120px;
	right:0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nT3 {
	bottom: 10px;
	width:100%;
}

.svg1{
	position: absolute;
	left:0;
  	transform: rotate(-90deg);
  	background: rgba(0,0,0,0);
  	border-radius: 50%;
}

.svg2 {
	position: absolute;
	left:0;
  	transform: rotate(215deg);
  	background: rgba(0,0,0,0);
  	border-radius: 50%;
}

.svg3 {
	position: absolute;
	left:0;
  	transform: rotate(173deg);
  	background: rgba(0,0,0,0);
  	border-radius: 50%;
}

.svg4 {
	position: absolute;
	left:0;
  	transform: rotate(85deg);
  	background: rgba(0,0,0,0);
  	border-radius: 50%;
}

circle.pie1 {
  	fill: rgba(0,0,0,0);
  	stroke: #3CA688;
  	stroke-width: 40;
  	stroke-dasharray: 70 300; /* for 38% */
}

circle.pie2 {
  	fill: rgba(0,0,0,0);
  	stroke: #F26E50;
  	/*#F26E50*/
  	stroke-width: 40;
  	stroke-dasharray: 20 300; /* for 38% */
}

circle.pie3 {
  	fill: rgba(0,0,0,0);
  	stroke: #F2E7AE;
  	stroke-width: 40;
  	stroke-dasharray: 15 300; /* for 38% */
}

circle.pie4 {
  	fill: rgba(0,0,0,0);
  	stroke: #6C5D4A;
  	stroke-width: 40;
  	stroke-dasharray: 34 300; /* for 38% */
}